node_modules
dist
.git
.gitignore
.env*
*.md
!README.md
.angular
.cursor
.vscode
coverage
.nyc_output
*.log
npm-debug.log*
.DS_Store
documentation
*.spec.ts
vitest.workspace.ts
.editorconfig
.prettierrc
.prettierignore
eslint.config.mjs
nx.json
